.dashboard-text {
	text-align: center;
}
.logout-button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20em;
	height: 3em;
	border: 1px solid #995b5b;
	border-radius: 5px;
	margin-bottom: 1em;
	background-color: #ffffff;
	color: #995b5b;
	cursor: pointer;
	transition: transform 0.5s ease-in-out;
}
.logout-button:hover{
	transform: scale(1.05);
}
.logout-button img{
	width: 1.6em;
	height: 1.6em;
	margin-right: 0.5em;
}
